@page "/projects/new"

<h3>AddProject</h3>

<EditForm Model="@Project" OnValidSubmit="@PostProject">
    <p>
        <label>Title</label>
        <InputText @bind-Value="Project.Title" />
    </p>

    <p>
        <label>Requirement</label>
        <InputTextArea @bind-Value="Project.Requirement" />
    </p>
    <p>
        <label>Design</label>
        <InputTextArea @bind-Value="Project.Design" />
    </p>
    <p>
        <label>Date of Completion</label>
        <InputDate @bind-Value="Project.CompletionDate"/>
    </p>
    <button type="submit">Submit</button>
</EditForm>