<h3>Projects</h3>

<table class="table">
    <thead>
        <tr>Title</tr><tr>Requirement</tr><tr>Design</tr><tr>Completed On</tr>
    </thead>
    <tbody>
        @*@foreach(Portfolio.Shared.Models.Project project in Projectlist)
        {
            <tr><td></td></tr>
        }*@
    </tbody>
</table>