@using Portfolio.WASM.Components
@page "/projects/new"

<br style="margin-top: 20%;" />
<br style="margin-top: 20%;" />

<h3>Add Project</h3>

<ProjectForm ProjectViewModel="new ProjectViewModel()" IsEditMode="false" />
