@page "/GUI_Portfolio_Site/projects/new"

<h3>Add Project</h3>

<EditForm Model="@Project" OnValidSubmit="@PostProject">
    <p>
        <label>
            Title <br />
            <InputText @bind-Value="Project.Title" />
        </label>
    </p>

    <p>
        <label>S
            Requirement <br />
            <InputTextArea @bind-Value="Project.Requirement" />
        </label>
    </p>
    <p>
        <label>
            Design <br />
            <InputTextArea @bind-Value="Project.Design" />
        </label>
    </p>
    <p>
        <label>
            Date of Completion <br />
            <InputDate @bind-Value="Project.CompletionDate" />
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>