@using Portfolio.WASM.Components
@page "/projects/new"

<h3>Add Project</h3>

<ProjectForm ProjectViewModel="new ProjectViewModel()" IsEditMode="false"/>

@*<EditForm Model="@ProjectViewModel" OnValidSubmit="@PostProject">
    <p>
        <label>
            Title <br />
            <InputText @bind-Value="ProjectViewModel.Title" />
        </label>
    </p>

    <p>
        <label>
            Requirement <br />
            <InputTextArea @bind-Value="ProjectViewModel.Requirement" />
        </label>
    </p>
    <p>
        <label>
            Design <br />
            <InputTextArea @bind-Value="ProjectViewModel.Design" />
        </label>
    </p>
    <p>
        <label>
            Date of Completion <br />
            <InputDate @bind-Value="ProjectViewModel.CompletionDate" />
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>*@