@page "/projects/{CategoryTypeFilter}"


@foreach(Category category in CategoryList)
{
    <lh>@category.Name</lh>
    <ul>
        @foreach(Portfolio.Shared.ProjectViewModel projectVM in ProjectViewModels.Where(pvm => pvm.Categories.Contains(category)))
        {
            <li>
                <a href="@($"projects/detail/{projectVM.ID}")">@projectVM.Title</a>
            </li>
        }
    </ul>
}
