@using Portfolio.WASM.Components
@page "/projects/edit/{ProjectSlug}"
<br style="margin-top: 20%;" />
<br style="margin-top: 20%;" />

<h3>Edit Project</h3>


<ProjectForm ProjectSlug="@ProjectSlug" ProjectViewModel="@ProjectViewModel" IsEditMode="true" />


<CategoryInputs ProjectViewModel="@ProjectViewModel" />

<button type="button" @onclick="@DiscardChanges">Discard Changes</button>