@page "/projects/platforms"

<h3>Platforms</h3>

@foreach (Portfolio.Shared.Models.Platform platform in PlatformList)
{
    <ul>
        <lh>@platform.Name</lh>
        @foreach (Portfolio.Shared.ProjectViewModel vm in ProjectViewModels)
        {
            if (vm.Platforms.Contains(platform))
            {
                <li>
                    <a href="@($"projects/detail/{vm.ID}")">@vm.Title</a>
                </li>
            }
        }
    </ul>
}
