<h3>Projects</h3>
@using Portfolio.WASM.Components

@page "/"

<ProjectList />

<div>
    View By: <a href =@($"projects/{CategoryTypes.FRAMEWORK}")>Framework</a> 
             <a href =@($"projects/{CategoryTypes.LANGUAGE}")>Language</a> 
             <a href =@($"projects/{CategoryTypes.PLATFORM}")>Platform</a>
</div>


<a href="@("projects/new")">New Project</a>

