<h3>Projects</h3>


@page "/"

<table class="table">
    <thead>
        <tr>
            <td>Title</td>
         
            <td>Completion Date</td>
        </tr>
    </thead>
    <tbody>
        @if (ProjectList != null)
        {
            foreach (Portfolio.Shared.ProjectViewModel project in ProjectList)
            {
                <tr>
                    <td> <a href="@($"projects/detail/{project.ID}")">@project.Title</a> </td>
                    <td>@project.CompletionDate</td>
                    <td>
                    </td>

                </tr>
            }
        }

    </tbody>

</table>

<a href="@("projects/new")">New Project</a>
<div>
    View By: <a href =@($"projects/{CategoryTypes.FRAMEWORK}")>Framework</a> 
             <a href =@($"projects/{CategoryTypes.LANGUAGE}")>Language</a> 
             <a href =@($"projects/{CategoryTypes.PLATFORM}")>Platform</a>
</div>



