@page "/"

<br style="margin-top: 20%;" />
<br style="margin-top: 20%;" />


<div class="text-center">
    <h1>Portfolio</h1>



    <div>
        <h5>Contact</h5>
        <div>
            Email: djbigelow0@gmail.com, <a href="https://www.linkedin.com/in/daniel-bigelow-07838b1b6/" target="_blank">LinkedIn</a>
        </div>
    </div>

    <hr style="height:4px;border-width:1px;color:gray;background-color:gray">

    <div>
        <iframe src="images/DanielBigelowResume.pdf" height="1150" width="870" w></iframe>
    </div>

</div>
