<div>
    View By: <a href=@($"projects/{CategoryTypes.FRAMEWORK}")>Framework</a> |
    <a href=@($"projects/{CategoryTypes.LANGUAGE}")>Language</a> |
    <a href=@($"projects/{CategoryTypes.PLATFORM}")>Platform</a>
</div>

@code {

}
