@inherits LayoutComponentBase

<div>
    <NavMenu />
</div>

<br style="margin-top: 20%;" />
<br style="margin-top: 20%;" />

<div class="main">
    <div style="z-index:50000;">
        @*<AccessControl />*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
